{% extends "layout.twig" %}

{% block content %}

<!-- Add your site or application content here -->

<main role="main" class="container">
  <h1 class="mt-5">{{ introduction_title }}</h1>
  <p>{{ introduction_text }}</p>
  It comes configured ready to go with:
  <ul>
  <li><a href="https://github.com/mikecao/flight">Flight</a></li>
  <li><a href="https://github.com/twigphp/Twig">Twig</a></li>
  <li><a href="https://github.com/composer/composer">Composer</a></li>
  <li><a href="https://github.com/Seldaek/monolog">Monolog</a></li>
  <li><a href="https://github.com/webpack/webpack">Webpack</a></li>
  <li id="api-route-payload"></li>
  </ul>

  <b>and</b> you can even optionally use:
  <ul>
  <li><a href="https://github.com/microsoft/TypeScript">TypeScript</a></li>
  <li><a href="https://github.com/sass/sass">Sass</a></li>
  </ul>
</main>


{% endblock %}
